<!DOCTYPE html>
<html>

  <head>
    <title>コロコン</title>
    <link rel="stylesheet" href="../css/app.css">
    <script type="text/javascript" src="../js/app.js"></script>
  </head>

  <body class="bb">
    <!-- header -->
    <header>
      <div class="fl">
        <p class="">コロコン</p>
        <p class="">colopl convenient</p>
      </div>
      <div class="fr">
        <div id="user_info">
          <div class="email">email</div>
          <div id="logout">ログアウト</div>
        </div>
        <div id="post_message">ご意見Box</div>
      </div>
    </header>


    <!-- body -->
    <div id="container" class="wh100 bb">

    </div>


    <!-- footer -->
    <footer id="footer">

    </footer>
  </body>

</html>
