<!DOCTYPE html>
<html>

  <head>
    <title>コロコン</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/app.css">
    <script type="text/javascript" src="../js/app.js"></script>
  </head>

  <body class="bb bg-default">
    <!-- header -->
    <header class="bg-primary text-white bb">
      <div class="title pd5_10 wh100 bb">
        <p class="fs_large">コロコン</p>
        <p class="">~ colopl convenient ~</p>
      </div>
      <div class="pd5_10 wh100 bb">
        <div id="post_message" class="fr fs_small talign_center bg-white">ご意見Box</div>
        <div id="user_info" class="fr">
          <div class="email talign_right">email@email.com</div>
          <div id="logout" class="fr fs_small talign_center bg-white">ログアウト</div>
        </div>
      </div>
    </header>


    <!-- body -->
    <div id="container" class="wh100 bb">

    </div>


    <!-- footer -->
    <footer id="footer">

    </footer>
  </body>

</html>
